body {
    background-color: rgb(1, 1, 63);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title {
    color: wheat;
    cursor: pointer;
}

.menu {
    display: flex;
    margin-top: 10px;
    cursor: pointer;
}

.menu ul {
    display: flex;
    font-style: initial;
    gap: 50px;
    list-style: none;
    color: wheat;
}

.button {
    display: flex;
    gap: 30px;
}

.login {
    color: wheat;
    margin-top: 25px;
    cursor: pointer;
}

.join {
    display: flex;
    background-color: rgb(73, 179, 221);
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    margin-top: 15px;
    color: wheat;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.cont1 {
    color: blue;
}

.cont2 {
    color: wheat;
    margin-top: 20px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.cont3 {
    color: wheat;
    margin-top: 20px;
    text-align: center;
}

.cont4 {
    display: flex;
    gap: 10px
}

.join1 {
    display: flex;
    background-color: rgb(73, 179, 221);
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 50px;
    margin-top: 18px;
    color: wheat;
    border-radius: 5px;
    cursor: pointer;
}

.learn {
    display: flex;
    border: 2px solid rgb(73, 179, 221);
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 48px;
    color: rgb(73, 179, 221);
    border-radius: 5px;
    margin-top: 18px;
    cursor: pointer;
}

.base1 {
    padding-left: 10%;
    padding-right: 10%;
}

.base {
    display: flex;
    width: 100%;
    margin-top: 80px;
    gap: 16px;
    justify-content: center;
}

.box1 {
    display: flex;
    background-color: wheat;
    height: 300px;
    flex: 1;
}

.box2 {
    background-color: wheat;
    height: 300px;
    display: flex;
    flex: 1;
}

.box3 {
    background-color: wheat;
    height: 300px;
    display: flex;
    flex: 1;
}

.img {
    margin-top: 30px;
    margin-left: 50px;
}