* {
    background-color: rgb(232, 186, 100);
}

.container1 {
    display: flex;
}

.container1a {
    width: 100%;
    margin-left: 80px;
    margin-top: 200px;
}

.box1 {
    background-color: rgb(63, 219, 63);
    height: 100px;
}

.container1b {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 15px;
    margin-top: 20px;
}

.box2 {
    background-color: plum;
    height: 70px;
    flex: 1;
}

.box3 {
    background-color: yellow;
    height: 70px;
    flex: 1;
}

.container1d {
    width: 100%;
    margin-top: 185px;
    margin-left: 20px;
    margin-right: 20px;
}

.container1c {
    display: flex;
    width: 100%;
}

.box4 {
    background-color: red;
    height: 110px;
    margin-top: 15px;
}

.box5 {
    background-color: blueviolet;
    height: 70px;
    margin-top: 10px;
}

.container1e {
    width: 100%;
    margin-right: 70px;
    margin-top: 185px;
}

.box6 {
    background-color: grey;
    height: 70px;
    margin-top: 15px;
    flex: 1;
}

.box7 {
    background-color: black;
    height: 115px;
    margin-top: 10px;
    flex: 1;
}

.container2 {
    width: 100%;
    display: flex;
    margin-top: 20px;
    gap: 20px;
}

.box8 {
    background-color: brown;
    height: 100px;
    flex: 1;
    margin-left: 80px;
}

.box9 {
    background-color: pink;
    height: 100px;
    flex: 3;
    margin-right: 70px;
}

.text {
    font-size: 85px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    color: black;
    text-shadow: 3px 2px white;
    margin-top: 15px;
}